@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "About Us";
}
<h1>@ViewData["Title"]</h1>

<h2>MAHADEV_PLATES & CO</h2>
<h3>This company is Basically manufacturing the different plate which is avalable in difeerent size, colre, weight and shape</h3><br />
<h3>Comapany located in Windsore, Ontario</h3><br />
<h3>We have around 400+  staff and they are very dedicated to thier work</h3>
<p>Use this page to detail your site's privacy policy.</p>